<div class="header">
	<h2>Competitions</h2>
</div>

<div class="boxer">
	<div class="row clearfix">
		<div class="col-md-4">
			{{#each model as |competition|}}
				{{#competition-card competition=competition}}
				{{/competition-card}}
			{{/each}}
		</div>
		<div class="col-md-4">
			{{#each model as |competition|}}
				{{#competition-card competition=competition}}
				{{/competition-card}}
			{{/each}}
		</div>
		<div class="col-md-4">
			{{#each model as |competition|}}
				{{#competition-card competition=competition}}
				{{/competition-card}}
			{{/each}}
		</div>
		<div class="col-md-4">
			{{#each model as |competition|}}
				{{#competition-card competition=competition}}
				{{/competition-card}}
			{{/each}}
		</div>
		<div class="col-md-4">
			{{#each model as |competition|}}
				{{#competition-card competition=competition}}
				{{/competition-card}}
			{{/each}}
		</div>
		<div class="col-md-4">
			{{#each model as |competition|}}
				{{#competition-card competition=competition}}
				{{/competition-card}}
			{{/each}}
		</div>
	</div>
</div>
