<div class="modal close" tabindex="-1" role="dialog" id="loginModal">
  <div class="modal-dialog" role="document">
    <div class="card">
      <h1 class="title"><span>Hacker Blocks</span>Login
        <div class="msg">Sign in to start your session</div>
      </h1>
      <div class="col-md-12">
        <form name="loginform" id="loginform" {{ action "authenticate" on="submit" }}>
          {{#if errorMessage}}
            <div class="alert alert-danger">{{errorMessage.message}}</div>
          {{/if}}
          <div class="input-group"> <span class="input-group-addon"> <i class="zmdi zmdi-account"></i> </span>
            <div class="form-line">
              <input type="text" name="username" class="form-control" id="username" value="" size="20" placeholder="Roll number or Email">
            </div>
          </div>
          <div class="input-group"> <span class="input-group-addon"> <i class="zmdi zmdi-lock"></i> </span>
            <div class="form-line">
              <input type="password" name="pwd" class="form-control" id="password" value="" size="20" placeholder="Password">
            </div>
          </div>
          <div class="text-center">
            <input type="submit" name="submit" class="btn btn-raised waves-effect g-bg-blush2" value="SIGN IN">
            <a href= "http://students.codingblocks.com/login#signup" target="_blank" class = "btn btn-raised waves-effect">SIGN UP</a>
          </div>
          <br>
          <div class="text-center"><a href="http://students.codingblocks.com/login#forget_password" target="_blank" title="Forgot Password">Forgot password?</a></div>
        </form>
      </div>
    </div>
  </div>
</div>
