<div id="thim-popup-login" class="has-shortcode">
  <div class="thim-login-container" style="top: 116px;"> <span class="close-popup fa fa-times"></span>
    <div class="mo-openid-app-icons">
      <p>Register Now:</p>
      <a style="width: 300px !important;padding-top:13px !important;padding-bottom:13px !important;margin-bottom: -1px !important;border-radius: 0px !important;" class="btn btn-block btn-social btn-google btn-custom-dec login-button" href="http://students.codingblocks.com/login#signup">Sign Up at CodingBlocks.com</a>
    </div>
    <br>
    <div class="thim-login">
      <h2 class="title">Login with your site account</h2>
      <form name="loginform" id="loginform" {{ action "authenticate" on="submit"}}>
        {{#if errorMessage}}
          <div class="alert alert-danger">{{errorMessage.message}}</div>
        {{/if}}
        <p class="login-username">
          <label for="username">Roll number or Email</label>
          <input type="text" name="username" id="username" class="input validate" value="" size="20" placeholder="Roll number or Email">
        </p>
        <p class="login-password">
          <label for="password">Password</label>
          <input type="password" name="pwd" id="password" class="input" value="" size="20" placeholder="Password">
        </p>
        <a class="lost-pass-link" href="http://students.codingblocks.com/login#forget_password" title="Forgot Password">Forgot password?</a>
        <p class="login-submit">
          <input type="submit" name="wp-submit" id="wp-submit" class="button button-primary" value="Login">
        </p>
      </form>
    </div>
    <span class="close-popup"><i class="fa fa-times" aria-hidden="true"></i></span>
  </div>
</div>