<aside id="rightsidebar" class="right-sidebar">
  <ul class="nav nav-tabs tab-nav-right" role="tablist">
    <li role="presentation" class="active"><a href="#skins" data-toggle="tab">Skins</a></li>
    <!--<li role="presentation"><a href="#chat" data-toggle="tab">Chat</a></li>-->
  </ul>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active in active" id="skins">
      <ul class="demo-choose-skin">
        <li data-theme="red">
          <div class="red"></div>
          <span>Red</span> </li>
        <li data-theme="purple">
          <div class="purple"></div>
          <span>Purple</span> </li>
        <li data-theme="blue">
          <div class="blue"></div>
          <span>Blue</span> </li>
        <li data-theme="cyan">
          <div class="cyan"></div>
          <span>Cyan</span> </li>
        <li data-theme="green">
          <div class="green"></div>
          <span>Green</span> </li>
        <li data-theme="deep-orange">
          <div class="deep-orange"></div>
          <span>Deep Orange</span> </li>
        <li data-theme="blue-grey">
          <div class="blue-grey"></div>
          <span>Blue Grey</span> </li>
        <li data-theme="black">
          <div class="black"></div>
          <span>Black</span> </li>
        <li data-theme="blush" class="active">
          <div class="blush"></div>
          <span>Blush</span> </li>
      </ul>
    </div>
    <!--
    <div role="tabpanel" class="tab-pane fade" id="chat">
      <div class="demo-settings">
        <div class="search">
          <div class="input-group">
            <div class="form-line">
              <input type="text" class="form-control" placeholder="Search..." required autofocus>
            </div>
          </div>
        </div>
        <h6>Recent</h6>
        <ul>
          <li class="online">
            <div class="media"> <a class="pull-left" role="button" tabindex="0"> <img class="media-object " src="assets/images/random-avatar4.jpg" alt=""> </a>
              <div class="media-body"> <span class="name">Claire Sassu</span> <span class="message">Can you share the...</span> <span class="badge badge-outline status"></span> </div>
            </div>
          </li>
          <li class="online">
            <div class="media"> <a class="pull-left" role="button" tabindex="0"> <img class="media-object " src="assets/images/random-avatar5.jpg" alt=""> </a>
              <div class="media-body">
                <div class="media-body"> <span class="name">Maggie jackson</span> <span class="message">Can you share the...</span> <span class="badge badge-outline status"></span> </div>
              </div>
            </div>
          </li>
          <li class="online">
            <div class="media"> <a class="pull-left" role="button" tabindex="0"> <img class="media-object " src="assets/images/random-avatar3.jpg" alt=""> </a>
              <div class="media-body">
                <div class="media-body"> <span class="name">Joel King</span> <span class="message">Ready for the meeti...</span> <span class="badge badge-outline status"></span> </div>
              </div>
            </div>
          </li>
        </ul>
        <h6>Contacts</h6>
        <ul>
          <li class="offline">
            <div class="media"> <a class="pull-left" role="button" tabindex="0"> <img class="media-object " src="assets/images/random-avatar4.jpg" alt=""> </a>
              <div class="media-body">
                <div class="media-body"> <span class="name">Joel King</span> <span class="badge badge-outline status"></span> </div>
              </div>
            </div>
          </li>
          <li class="online">
            <div class="media"> <a class="pull-left" role="button" tabindex="0"> <img class="media-object " src="assets/images/random-avatar5.jpg" alt=""> </a>
              <div class="media-body">
                <div class="media-body"> <span class="name">Joel King</span> <span class="badge badge-outline status"></span> </div>
              </div>
            </div>
          </li>
          <li class="offline">
            <div class="media"> <a class="pull-left " role="button" tabindex="0"> <img class="media-object " src="assets/images/random-avatar6.jpg" alt=""> </a>
              <div class="media-body">
                <div class="media-body"> <span class="name">Joel King</span> <span class="badge badge-outline status"></span> </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>-->
  </div>
</aside>