.container {
  margin-top: 20px !important;
}

.contest-card {
  cursor: pointer;
  position: relative;

  .contest-dates {
    position: absolute;
    bottom: 0;
  }
}

.problem-card {
  cursor: pointer;
}

.divider-vertical {
  position:absolute;
  left:50%;
  top:10%;
  bottom:10%;
  border-left:1px solid black;
}

#editor {
  height: 400px;
  width: auto;
}

.result-badge {
  float: left !important;
  margin-left: 0 !important;
}
