.container {
  margin-top: 20px !important;
  width: 90% !important;
}

.contest-card {
  cursor: pointer;
  position: relative;

  .contest-dates {
    position: absolute;
    bottom: 0;
  }
}

.problem-card {
  cursor: pointer;
}

.divider-vertical {
  position:absolute;
  left:50%;
  top:10%;
  bottom:10%;
  border-left:1px solid black;
}

#editor {
  height: 400px;
  width: auto;
}

.result-badge {
  float: left !important;
  margin-left: 0 !important;
}

#login-dialog {
  height: 350px;
}

#login-dialog div {
  height:100%;
}

html, body {
  height: 100%;
  margin: 0;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -287px;
}

body > .ember-view{
  height : 100%;
}

.footer,
.push {
  height: 287px;
}

.arrows { white-space: nowrap; }
.arrows li {
  display: inline-block;
  line-height: 26px;
  margin: 0 9px 0 -10px;
  padding: 0 20px;
  position: relative;
}
.arrows li::before,
.arrows li::after {
  border-right: 1px solid #666666;
  content: '';
  display: block;
  height: 50%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
  transform: skewX(45deg);
}
.arrows li::after {
  bottom: 0;
  top: auto;
  transform: skewX(-45deg);
}

.arrows li:last-of-type::before,
.arrows li:last-of-type::after {
  display: none;
}

.arrows li a {
  font: 24px Sans-Serif;
  letter-spacing: -1px;
  text-decoration: none;
}

.primary-color {
  background: #fc4f4f !important;
  background-color: #fc4f4f !important;
}

.arrows li:nth-of-type(1) a { color: hsl(0, 0%, 70%); }
.arrows li:nth-of-type(2) a { color: hsl(0, 0%, 65%); }
.arrows li:nth-of-type(3) a { color: hsl(0, 0%, 50%); }
.arrows li:nth-of-type(4) a { color: hsl(0, 0%, 45%); }
