.login-btn {
  border-radius:20px !important;
  color:#fff !important;
}

.img-resize{
  height:auto;
  width:72px !important;
}

.profile-align{
  float:none;
  margin: 0 auto !important;
  width:256px;
}

#tags {
  margin-bottom: 10px;
}

.generate-scroll-y{
  max-height:200px;
  overflow-y:scroll;
}

#run-output {
  background:#f5f5f5;
  border-color: #3c3c3c;
  border-width: 1px;
}

#editor {
  width: 100%;
  height: 400px;
}

.arrows li:nth-of-type(1) a { color: hsl(0, 0%, 70%); }
.arrows li:nth-of-type(2) a { color: hsl(0, 0%, 65%); }
.arrows li:nth-of-type(3) a { color: hsl(0, 0%, 50%); }
.arrows li:nth-of-type(4) a { color: hsl(0, 0%, 45%); }

.share-buttons img {
  width: 35px;
  padding: 5px;
  border: 0;
  box-shadow: 0;
  display: inline;
}

.pointer {
  cursor: pointer;
}

span.badge.new {
  color: black !important;
}

.isa_info, .isa_success, .isa_warning, .isa_error {
  padding:12px;

}
.isa_info {
  color: #00529B;
  background-color: #BDE5F8;
}
.isa_success {
  color: #4F8A10;
  background-color: #DFF2BF;
}
.isa_warning {
  color: #9F6000;
  background-color: #FEEFB3;
}
.isa_error {
  color: #D8000C;
  background-color: #FFBABA;
}
.isa_info i, .isa_success i, .isa_warning i, .isa_error i {
  font-size:2em;
  vertical-align:middle;
}

.loader {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 35px;
  height: 35px;
  animation: spin 1s linear infinite;
  display: none;
  margin-top: -5px;
  margin-bottom: -5px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.width-navigation {
  .container {
    width: 600px;
    margin-right: 0;
  }
}
#main-menu {
  ul li {
    display: inline;
    text-align: center;
  }

  a {
    display: inline-block;
    margin: 0;
    text-decoration: none;
    padding-bottom: 2px;

  }

  hr {
    height: .15rem;
    width: 0;
    margin: 0;
    background: #2e8ece;
    border: none;
    transition: .3s ease-in-out;
    left: 20px;

  }


  .one.active ~ hr {
    width: 15%;
    margin-left: 4%;
  }

  .two:hover ~ hr {
    margin-left: 25%;
    width: 23%;
    display: block;
  }
  .two.active  ~ hr {
    margin-left: 25%;
    width: 25%;
    display: block;
  }

  .three:hover ~ hr {
    margin-left: 56%;
    width: 22%;
    display: block;
  }

  .four:hover ~ hr {
    margin-left: 83%;
    width: 15%;
    display: block;
  }
  .one:hover ~ hr {
    width: 15%;
    margin-left: 4%;
  }

}

.breadcrumb li a {
  color: #cccccc;
}

.contestCard {
  margin-top: 10px;
  height:380px;
  display: flex;
  flex-direction: column;
}


.problemCard {
  height: 325px;
  margin-top: 10px;
  padding:30px;
  display: flex;
  flex-direction: column;
}

#custom-input {
  margin-bottom: 10px;
}

.logout-button {
    display: block;
    width: 115px;
    height: 35px;
    background: #9d3030 !important;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.logout-button:hover {
  color: #9d3030 !important;
  background: white !important;
}


// CSS code for clock


*{ padding:0; margin:0; outline:none;}
body{font-family:"Roboto",Helvetica,Arial,sans-serif;font-size:14px;line-height:1.428571429;color:#333;background-color:#fff}

// .card {
//     background: #fff;
//     min-height: 50px;
//     box-shadow: none;
//     position: relative;
//     margin-bottom: 20px;
//     transition: .5s;
//     border: 1px solid #f2f2f2;
//     border-radius: 0;
// }
// .card .body {
//     font-size: 14px;
//     color: #444;
//     padding: 15px;
//     font-weight: 400;
// 	text-align:left;
// }
.terques-bg {
    background: #1fb5ad;
}

.clock-row {
    text-transform: uppercase;
    min-height: 170px;
}
.user-heading {
    color: #fff;
    padding: 30px;
    text-align: center;
}
.user-heading.clock-row {
    padding: 20px;
}
.user-heading.alt {
    display: inline-block;
    width: 100%;
    text-align: left;
}
.clock-row h1 {
    font-size: 22px ;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 1px;
}
.clock-row p {
    font-size: 16px;
    font-weight: 300;
    color: #fff ;
    margin: 0;
}
ul#clock li{
    border: none;
}

#clock {
    position: relative;
    width: 185px;
    height: 185px;
    margin: -95px auto 0;
    background: url(/images/clockface.png) no-repeat;
    list-style: none;
}

#sec, #min, #hour {
    position: absolute;
    width: 15px;
    height: 185px;
    top: 0px;
    left: 83px;
}

#sec {
    background: url(/images/sechand.png);
    z-index: 3;
    overflow: hidden;
}

#min {
    background: url(/images/minhand.png);
    z-index: 2;
}

#hour {
    background: url(/images/hourhand.png);
    z-index: 1;
}

.ls-closed .bars:after, .ls-closed .bars:before{
   display: none;
}

//-------------

.para {
  margin: 0px 20px 0px 20px;
}

.daily-problem-div{
  height: 220px;
}

.custom-card{
  padding:30px;
}
.contestCard img{
  margin-bottom: auto;

}
.wrapper-grid{
  margin-top:auto;
  height: 300px;
  display: flex;
  flex-direction: column;
}
.wrapper-grid a {
  margin-top:auto;
}
.wrapper-grid p{
  margin-bottom: auto;
}
.flex-grid {
  flex-grow: 1;
  word-wrap:break-word;
}
.custom-align{
  position: absolute;
  bottom:10px;
  float:none;
  margin:0 auto !important;
}

//----------------------------

.submit-login-message {
    margin-top: 15px;
    color: deeppink;
}
