<div class="questions-container">

	<div class="description">
		{{markdown-to-html question.description}}
	</div>

	{{#each question.choices as |choice|}}
		<div class="choices-container">
			<div class="choice selected-{{eq selectedChoiceId choice.id}}" {{action "toggleChoice" choice.id}}>
				<div class="checkbox"></div>
				{{markdown-to-html choice.description}}
			</div>
		</div>
	{{/each}}
</div>
