<div id="main-content">
  <div class="" style="background-color:#fc4f4f;">
    <div class="white-wide-container clearfix">
      <div class="container clearfix">
        <div class="row mt30">
          <div class="col-md-8">
            <div class="headsection clearfix">
              <span class="fntblue">
                <ul class="nav nav-tabs">
                  {{#link-to (sum parentRoute ".main") tagName="li" }}
                    <a href="javascript;"><strong>Problem</strong></a>
                  {{/link-to}}
                  {{#link-to (sum parentRoute ".submissions") tagName="li" }}
                    <a href="javascript;"><strong>My Submissions</strong></a>
                  {{/link-to}}
                  {{#link-to (sum parentRoute ".leaderboard") tagName="li" }}
                    <a href="javascript;"><strong>Leaderboard</strong></a>
                  {{/link-to}}
                </ul>
              </span>
              <span class="pull-right">
                <small>Maximum Score :100</small> &nbsp;
                &nbsp;<a href="#"><i class="fa fa-question-circle"></i></a>
              </span>
            </div>
            {{yield}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
