<div id="main-content">
  <div class="" style="background-color:#fc4f4f;">
    <div class="white-wide-container clearfix">
      <div class="container clearfix">
        <div class="row mt30">
          <div class="col-md-8">
            <div class="headsection clearfix">
              <span class="fntblue">
                <ul class="list-inline" style="display: inline;">
                  <li class="active">
                      {{#link-to (sum parentRoute ".main") }}<h4>Problem</h4>{{/link-to}}
                  </li>
                  <li class="seprate">|</li>
                  <li>
                    {{#link-to (sum parentRoute ".submissions") }}<h4>My Submissions</h4>{{/link-to}}
                  </li>
                  <li class="seprate">|</li>
                  <li>
                    {{#link-to (sum parentRoute ".leaderboard") }}<h4>Leaderboard</h4>{{/link-to}}
                  </li>
                </ul>
              </span>
              <h4>
                <span class="pull-right">
                  <small>Maximum Marks :100</small> &nbsp;
                  &nbsp;<a href="#"><i class="fa fa-question-circle"></i></a>
                </span>
              </h4>
            </div>
            {{yield}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
