<!-- main content -->
<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <h2>All Courses</h2>
      <small class="text-muted">Courses we offer</small>
    </div>
    <iframe src="https://codingblocks.com/courses/" class="courses-frame"></iframe>
  </div>
</section>
