<!-- main content -->
<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <h2>All Courses</h2>
      <small class="text-muted">Courses we offer</small>
    </div>
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="thumbnail card"><img src="assets/images/course-3.jpg" alt="">
          <div class="caption">
            <h3>LAUNCHPAD</h3>
            <p><strong class="col-green">Type:</strong> Fundamentals course</p>
            <p><strong class="col-green">Price:</strong> Rs 17,000/-</p>
            <p><strong class="col-green">Lectures:</strong> 24-26 lectures</p>
            <p><strong class="col-green">Concepts:</strong> Programming Fundamentals,OOPS
              Data Structures & Algorithms
              300+ Problems,Hackathons
              Online Code Submission</p>
            <p><a href="http://www.codingblocks.com/courses/launchpad.html" class="btn btn-raised waves-effect btn-sm" role="button" target="_blank">Read more</a> </p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="thumbnail card"><img src="assets/images/course-1.jpg" alt="">
          <div class="caption">
            <h3>CRUX</h3>
            <p><strong class="col-green">Type:</strong> Fundamentals course</p>
            <p><strong class="col-green">Price:</strong> Rs 17,000/-</p>
            <p><strong class="col-green">Lectures:</strong> 24-26 lectures</p>
            <p><strong class="col-green">Concepts:</strong> Programming Fundamentals,OOPS
              Data Structures & Algorithms
              Code Submissions & Hackathon
              300+ Problems, Game Project</p>
            <p><a href="http://www.codingblocks.com/courses/crux.html" class="btn btn-raised waves-effect btn-sm" role="button" target="_blank">Read more</a> </p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="thumbnail card"><img src="assets/images/course-2.jpg" alt="">
          <div class="caption">
            <h3>PANDORA</h3>
            <p><strong class="col-green">Type:</strong> Advanced course</p>
            <p><strong class="col-green">Price:</strong> Rs 20,000/-</p>
            <p><strong class="col-green">Lectures:</strong> 22 lectures</p>
            <p><strong class="col-green">Concepts:</strong> Building Android Apps
              UI and Animations
              Database & Internet Connected Apps
              LIVE Project & Pitching Session</p>
            <p><a href="http://www.codingblocks.com/courses/pandora.html" class="btn btn-raised waves-effect btn-sm" role="button" target="_blank">Read more</a> </p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="thumbnail card"><img src="assets/images/course-3.jpg" alt="">
          <div class="caption">
            <h3>ELIXIR</h3>
            <p><strong class="col-green">Type:</strong> Advanced course</p>
            <p><strong class="col-green">Price:</strong> Rs 20,000/-</p>
            <p><strong class="col-green">Lectures:</strong> 22 lectures</p>
            <p><strong class="col-green">Concepts:</strong> Web Design
              Real time Web Apps
              Deployment & System Adminstration
              LIVE Project & Hackathon</p>
            <p><a href="http://www.codingblocks.com/courses/elixir.html" class="btn btn-raised waves-effect btn-sm" role="button" target="_blank">Read more</a> </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="thumbnail card"><img src="assets/images/course-1.jpg" alt="">
          <div class="caption">
            <h3>DJANGO</h3>
            <p><strong class="col-green">Type:</strong> Advanced course</p>
            <p><strong class="col-green">Price:</strong> Rs 17,000/-</p>
            <p><strong class="col-green">Lectures:</strong> 22 lectures</p>
            <p><strong class="col-green">Concepts:</strong> Web Apps &Database Management
              Chatbots
              Deployment & System Adminstration
              LIVE Project & Hackathon</p>
            <p><a href="http://www.codingblocks.com/courses/django.html" class="btn btn-raised waves-effect btn-sm" role="button" target="_blank">Read more</a> </p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="thumbnail card"><img src="assets/images/course-2.jpg" alt="">
          <div class="caption">
            <h3>PERCEPTRON</h3>
            <p><strong class="col-green">Type:</strong> Advanced course</p>
            <p><strong class="col-green">Price:</strong> Rs 22,000/-</p>
            <p><strong class="col-green">Lectures:</strong> 25 lectures</p>
            <p><strong class="col-green">Concepts:</strong> Code Machine Learning Algorithms
              Artificial Intelligence
              Natural Language Processing
              3 Live Projects & Hackathon</p>

          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="thumbnail card"><img src="assets/images/course-1.jpg" alt="">
          <div class="caption">
            <h3>CANVAS</h3>
            <p><strong class="col-green">Type:</strong> Advanced course</p>
            <p><strong class="col-green">Price:</strong> Rs 22,000/-</p>
            <p><strong class="col-green">Lectures:</strong> 25 lectures</p>
            <p><strong class="col-green">Concepts:</strong> Game development basics, Advanced concepts in JS</p>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>