<ul style="list-style: none;">
    <li class="header">NOTIFICATIONS</li>
    <li class="body" id="notification-dabba">
        <ul class="menu" style="list-style: none;">
        {{#each notifications as |notification|}}
            <li class="p-a-3"> <a class="no-hover" href={{notification.link}} target="_blank">
                <div class="{{notification.bgColor}} col-sm-3">
                    <i style = "margin-left: -42%;" class={{notification.notiIcon}}></i>
                </div>
                <div class="col-sm-9 menu-info">
                    <h4>{{notification.message}}</h4>
                    <!-- <p> <i class="material-icons">access_time</i> 14 mins ago </p> -->
                </div>
                </a> </li>
        {{/each}}
        </ul>
    </li>
    <!-- <li class="footer"> <a class="no-hover m-l-5" href="javascript:void(0);">View All Notifications</a> </li> -->
</ul>