<ul style="list-style: none;">
    <li class="header">NOTIFICATIONS</li>
    <li class="body" id="notification-dabba">
        <ul class="menu" style="list-style: none;">
            <li> <a class="no-hover" href="javascript:void(0);">
                <div class="icon-circle bg-light-green"><i class="zmdi zmdi-account-add"></i></div>
                <div class="menu-info">
                    <h4>12 new members joined</h4>
                    <p> <i class="material-icons">access_time</i> 14 mins ago </p>
                </div>
                </a> </li>
        </ul>
    </li>
    <li class="footer"> <a class="no-hover" href="javascript:void(0);">View All Notifications</a> </li>
</ul>