<div class="event-archive-happening active">
  <div id="event-2953" class="item-event feature-item post-2953 tp_event type-tp_event status-tp-event-happenning has-post-thumbnail hentry">
    <div class="event-wrapper">
      <div class="time-from">
        <div class="date">Started</div>
        <div class="month"> {{unix-to-time contest.startTime}}</div>
      </div>
      <div class="top-heading">
        <h4 class="title">{{#link-to link contest.id}}{{contest.name}}{{/link-to}}</h4>
        <div class="meta">
          <div class="time"> <i class="fa fa-clock-o"></i> 12:00 am - 11:59 pm</div>
          <div class="location"> <span class="fa fa-check"></span>4255 submissions</div>
          <div> <span class="fa fa-bar-chart"></span>150 Points</div>
        </div>
      </div>
      <div class="description">
        <div class="thim-excerpt">{{contest.description}}</div>
      </div>
      <div class="view-detail"> {{#link-to link contest.id}} Enter This Contest {{/link-to}}</div>
    </div>
    <div class="image"><a href="#"> <img src="images/a3.png" alt="event-4" title="event-4" width="560" height="240"> </a></div>
  </div>
</div>
