<div class="card horizontal contest-card">
  <div class="card-image">
    <img style="width: 190px; height: 190px;" src="https://www.planet-source-code.com/vb/2010Redesign/images/LangugeHomePages/CPlusPlus.jpg">
  </div>
  <div class="card-stacked">
    <div class="card-content">
      <span class="card-title">{{contest.name}}</span>
      <p>Contest description with some extra information.</p>
      <div class="contest-dates">
        <div class="contest-start-date">Start At: {{unix-to-time contest.startTime}}</div>
        <div class="contest-end-date">End At: {{unix-to-time contest.endTime}}</div>
      </div>
    </div>
  </div>
</div>
