<div class="card horizontal contest-card">
  <div class="card-image">
    <img src="http://lorempixel.com/190/190/nature/6">
  </div>
  <div class="card-stacked">
    <div class="card-content">
      <span class="card-title">{{contest.name}}</span>
      <p>Contest description with some extra information.</p>
      <div class="contest-dates">
        <div class="contest-start-date">Start At: {{unix-to-time contest.startTime}}</div>
        <div class="contest-end-date">End At: {{unix-to-time contest.endTime}}</div>
      </div>
    </div>
  </div>
</div>
