{{#link-to 'contests.contest' contest.id tagName="div"}}
  <div class="card horizontal contest-card">
    <div class="card-image">
      <img src="http://lorempixel.com/190/190/nature/6">
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <span class="card-title">{{contest.name}}</span>
        <p>Contest description with some extra information.</p>
        <div class="contest-dates">
          <div class="contest-start-date">Start Date: Jan 1, 2017</div>
          <div class="contest-end-date">End Date: Jan 31, 2017</div>
        </div>
      </div>
    </div>
  </div>
{{/link-to}}
