<div class="card col s12">
  <div class="card-content">
    <span class="card-title"><h4>Submissions</h4></span>
    <table class="striped">
      <thead>
      <tr>
        <th data-field="id">#</th>
        <th data-field="time">Time</th>
        <th data-field="language">Language</th>
        <th data-field="result">Result</th>
      </tr>
      </thead>

      <tbody>
      <tr>
        <td>1</td>
        <td>12748327</td>
        <td>C</td>
        <td><span class="new badge result-badge" data-badge-caption="Passed"></span></td>
      </tr>
      <tr>
        <td>2</td>
        <td>12748334</td>
        <td>C++</td>
        <td><span class="new badge result-badge yellow darken-2" data-badge-caption="Compilation Error"></span></td>
      </tr>
      <tr>
        <td>3</td>
        <td>12748654</td>
        <td>Java</td>
        <td><span class="new badge result-badge red" data-badge-caption="Wrong Answer"></span></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

