<section class="content">
    <div class="container-fluid">
     <div class = "wrapper-overlay">
     <img src= "https://images5.alphacoders.com/695/thumb-1920-695931.jpg">
     <h1>{{model.contest.name}}</h1>
     <h2> {{moment-format model.contest.startTime 'MMMM Do YYYY, hh:mm a' 'X'}} to  {{moment-format model.contest.endTime 'MMMM Do YYYY, hh:mm a' 'X'}}</h2>
     <h3>Contest Starts in</h3>
     <h4>{{#live-reload contest=model.contest}} {{/live-reload}}</h4>
    </div>
   
    </div>
</section>
{{outlet}}