{{! without contextual components }}
{{#paper-toolbar}}
  {{#paper-toolbar-tools}}
    {{#paper-button iconButton=true}}
      {{paper-icon "menu"}}
    {{/paper-button}}
    <h2>
      Coding Blocks Hack
    </h2>
    <ul class="tabs">
      <li class="tab col s3"><a href="#test1">Contests</a></li>
      <li class="tab col s3"><a class="active" href="#test2">Practice</a></li>
    </ul>
    <span class="flex"></span>
    {{#paper-button iconButton=true}}
      {{paper-icon "favorite"}}
    {{/paper-button}}
    {{#paper-button iconButton=true}}
      {{paper-icon "more_vert"}}
    {{/paper-button}}
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}