<nav>
  <div class="nav-wrapper z-depth-5">
    <a href="#" class="brand-logo center">Coding Blocks Hack</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a href="sass.html">Contests</a></li>
      <li><a href="badges.html">Practice</a></li>
    </ul>
  </div>
</nav>