<aside id="leftsidebar" class="sidebar">
  <!-- User Info -->
  <div class="user-info">
    {{#if (and model  session.isAuthenticated)}}
    <div class="admin-image">
      {{#link-to "users.user" model.id}}
        <img src="{{if model.photo model.photo 'https://i0.wp.com/forums.opera.com/themes/opera/design/images/avatars/default.png?ssl=1'}}" class="img-resize img-circle" alt="" />
      {{/link-to}}
    </div>
    <div class="admin-action-info"> <span><strong>Hello,</strong></span> {{#link-to "users.user" model.id}}
      <h3><strong>{{first-name model.name}}</strong></h3>{{/link-to}}
    </div>
    {{else}}
    <div class="admin-action-info">
      <button class="btn btn-filled-aqua" {{action 'popup'}}data-toggle="modal" data-target="#loginModal">Login | Sign Up</button>
    </div>
    {{/if}}
  </div>
  <!-- #User Info -->
  <!-- Menu -->
  <div class="menu">
    <ul class="list">
      <li class="header">MAIN NAVIGATION</li>
      {{#link-to 'index' tagName="li"}}<a href="#"><i class="zmdi zmdi-home"></i><span>Home</span></a>{{/link-to}}
      {{#link-to 'dcb' tagName="li"}}<a href="#"><i class="zmdi zmdi-code"></i><span>Daily Code Byte</span></a>{{/link-to}}
      {{#link-to 'contests' tagName="li"}}<a href="#"><i class="zmdi zmdi-assignment-account"></i><span>Contests</span></a>{{/link-to}}
      {{#link-to 'practice' tagName="li"}}<a href="#"><i class="zmdi zmdi-graduation-cap"></i><span>Practice</span></a>{{/link-to}}
      <li><a href="https://codingblocks.com/#courses" target="_blank"><i class="zmdi zmdi-case"></i><span>Classroom Program</span></a></li>
       {{#link-to 'online' tagName="li"}}<a href="#"><i class="zmdi zmdi-case"></i><span>Online Courses</span></a>{{/link-to}}
      <hr>
      <li><a href="https://codingblocks.com/resources/" target="_blank"><i class="zmdi zmdi-collection-video"></i><span>Video Resources</span></a></li>
    </ul>
  </div>
  <!-- #Menu -->
</aside>
{{#login-dialog}}{{/login-dialog}}
