<ul class="navbar-nav navbar-left breadcrumbs">
  {{#each breadCrumbs as |breadCrumb|}}
    <li>{{#link-to breadCrumb.route id=breadCrumb.id}}{{breadCrumb.name}}{{/link-to}}</li>
  {{/each}}
</ul>
{{yield}}
