<section class="content">
  <div class="container-fluid">
    <div class="row clearfix" style="margin-left: 0">
      <div class="col-md-6 block-header">
        <h2>All Problems</h2>
        <small class="text-muted">Solve these problem and prove yourself </small>
      </div>
      {{#if model.contest.duration}}
        <div class="countdown-timer-container col-md-offset-3 col-md-3">
          <div class="card">
            {{#countdown-timer
              startTime=model.currentAttempt.startTime
              duration=model.contest.duration
              onComplete=(action 'redirectToContest' model)}}
            {{/countdown-timer}}
          </div>
        </div>
      {{/if}}
    </div>
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card custom-card">
          <div class="row">
            <div class="col-sm-4 col-md-4 col-lg-4">
              <h4 class="text-center"><strong>Statistics</strong></h4>
              <div class="card">
                <table class="align-center table table-striped">
                  <thead>
                  <tr><th>Problems</th><th>Submissions</th></tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td><i class="material-icons">format_list_numbered</i></td>
                    <td><i class="material-icons">done</i></td>
                  </tr>
                  <tr>
                    <td>{{model.contest.problems.length}}</td>
                    <td>{{submissionCount}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-sm-8 col-md-8 col-lg-8">
              <h4 class="text-center strong"><strong>Leaderboard</strong></h4>
              <div class="card generate-scroll-y">{{#problem-leaderboard avatar=true leaderboard=model.leaderboard}}{{/problem-leaderboard}}
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="body">
            <div class="row clearfix">
               {{#each model.contest.problems as |problem|}}
                  {{#problem-view link='contests.contest.problem.index' problem=problem}}{{/problem-view}}
               {{/each}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
