<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>{{course.name}}</h2>
            <small class="text-muted"> {{course.summary}} </small>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card section-card">
                    Instructed By <a href="#"> Prateek Narang </a>
                </div>

                <div class="row ml-5 mr-5">
                    <div class="video-wrapper frame-wrapper-onlineRoute col-lg-7 col-sm-12">
                        <iframe src="https://www.youtube.com/embed/_vqXcrvurjo" allowfullscreen></iframe>
                    </div>
                    <div class="course-details course-details-flex col-lg-5 col-sm-12">
                        <div style="font-size: 20px; text-align:center;">
                            <b>Launchpad Live</b>
                        </div>
                        <a href="http://cb.lk/lponline" style="color: white; align-self:center;" target="_blank" >
                        <div class="btn course-btn" style="background:#0099E5;color:white;">
                            Take this course
                        </div>
                        </a>
                        <div class="course-insights">
                            <div class="course-insight-onlineRoute">
                                <div class="white-circle"> 30 </div>
                                <div class="circle-text">Lectures</div>
                            </div>
                            <div class="course-insight-onlineRoute">
                                <div class="white-circle" style="padding-left: 10px">1:00</div>
                                <div class="circle-text">Videos<br>(hh.mm)</div>
                            </div>
                            <div class="course-insight-onlineRoute">
                                <div class="white-circle" style="padding-left: 10px;font-size: 25px;"> Basic</div>
                                <div class="circle-text">SkillLevel</div>
                            </div>
                            <div class="course-insight-onlineRoute">
                                <div class="white-circle" style="padding-left: 10px"> C++ </div>
                                <div class="circle-text">Language</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row ml-5 mr-5">
                    <h3>Course Description</h3>
                    <div class="row">
                        <div class="col-md-6">
                            LaunchPad Live is a first of its kind, COMPLETELY LIVE course designed to provide you with a platform for starting your journey in the amazing world of computer programming. The course structure will be similar to our renowned classroom programs, with the added advantage of learning while in the comfort of your homes. We take pride in the fact that this will be the COUNTRY'S FIRST completely live course, with classes and doubt sessions all being live. You will also be able to schedule live doubt classes as per your convenience.

                        </div>
                        <div class="col-md-6">
                            This will be a beginners’ course including basic programming fundamentals, object oriented programming and in-depth coverage of data structures and algorithms. The entire course has been divided into two parts – Beginners’ and Advanced, giving the user the flexibility to choose the level of difficulty and advancement that he wants to pursue.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{outlet}}
