{{#if leaderboard}}
  <div id="mobleader">
    <table class="table table-striped table-responsive">
      <thead>
        <tr>
          <th data-field="rank">Rank</th>
          <th data-field="college">College</th>
          <th data-field="score">Score</th>
        </tr>
      </thead>
      <tbody>
        {{#each leaderboard as |row index|}}
          <tr>
            <td>{{sum index 1}}</td>
            <td>
              {{row.collegeName}}
            </td>
            <td>
              {{row.score}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
{{else}}
  <h4 style="margin: 1rem">
    We can't show you a leaderboard until the submissions start rolling in,
    stay tuned!
  </h4>
{{/if}}
