{{#ace-editor readOnly=true showDefaultSnippet=false}}{{base64-decode model.source}}{{/ace-editor}}
<div class="card ">
  <div class="card-content">
    <span class="card-title">Result</span>
    <p>
    {{#if (eq submission.result -1)}}
      <td>
        <div class="isa_warning"><i class="material-icons">warning</i>Compilation Error</div>
      </td>
    {{else if (eq submission.score 100)}}
      <td>
        <div class="isa_success"><i class="material-icons">done</i>Correct Answer</div>
      </td>
    {{else }}
      <td>
        <div class="isa_error"><i class="material-icons">error</i>Wrong Answer</div>
      </td>
    {{/if}}
    </p>
  </div>
</div>
