<div class='countdown-timer'>
  {{#unless noIcon}}
	<i class="material-icons">timer</i>
  {{/unless}}
	{{#if isCompleted}}
		<b>Time Over!</b>
	{{else}}
		<b>Time Left:</b>
		<p>{{displayString}}</p>
	{{/if}}
</div>
