<div class="col-xs-12 col-sm-12 col-md-12 " style="margin-bottom: -7%;">
  <div class="thumbnail card contestCard hover-card" style="height: 100% !important; margin-bottom: 60px!important;">
    <div class="row" style="margin-left: 0;">
      <div class="col-sm-3">
        <div class="img-overlay" style="margin: 0;"></div>
        <img src="/images/ngnc.jpg" alt="Nagarro Code-N-Counter" style="margin-left: -15px;">
      </div>
      <div class="caption col-sm-6">
        <span><b>Code-N-Counter 2.0</b> is a coding challenge organized by Nagarro for emerging programmers, currently pursuing their college degree. It’s an exciting and challenging competition that will allow participants to test, demonstrate and improve their programming skills. Nagarro is a company of brightest minds and it is our constant endeavor to identify and encourage like-minded talent.</span>
      </div>
      <a style="margin-left:3.5%; margin-top: 5%;" href="https://www.hackerearth.com/challenge/test/code-n-counter-20/"
         target="_blank" class="btn btn-raised btn-primary col-sm-2">Register</a>
    </div>
  </div>
</div>
