<div class="time-wrapper">

    <div class="side-align">
        {{days}} days
    </div>
    <div class="side-align">
        {{hours}} hrs
    </div>
    <div class="side-align">
        {{minutes}} mins
    </div>

    <div class="side-align">
        {{seconds}} secs
    </div>




</div>