<nav class="z-depth-5">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo center">Coding Blocks Hack</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      {{#link-to 'contests' tagName="li"}} <a>Contests</a> {{/link-to}}
      {{#link-to 'practice' tagName="li"}} <a>Practice</a> {{/link-to}}
    </ul>
  </div>
</nav>
{{outlet}}