<!-- Overlay For Sidebars -->
<div class="overlay"></div>
<!-- #END# Overlay For Sidebars -->

{{#nav-bar model=model}}{{/nav-bar}}

<!--
<div id="wrapper-container" class="wrapper-container">
  <div class="content-pusher ">

    {{outlet}}
  </div>
  {{#foot-er}}{{/foot-er}}
</div> -->

{{#left-side-bar model=model}}{{/left-side-bar}}
{{#right-side-bar}}{{/right-side-bar}}

<div class="color-bg"></div>
