<!-- Overlay For Sidebars -->
<div class="overlay"></div>
<!-- #END# Overlay For Sidebars -->
{{#unless embeded}}
	{{#nav-bar model=model}}{{/nav-bar}}
	{{#left-side-bar model=model}}{{/left-side-bar}}
{{/unless}}

{{outlet}}

<div class="color-bg"></div>
