<div class="card col s12">
  <div class="card-content">
    <span class="card-title"><h4>Leaderboard</h4></span>
    <table class="striped">
      <thead>
      <tr>
        <th data-field="rank">Rank</th>
        <th data-field="user">User</th>
        <th data-field="score">Score</th>
        <th data-field="language">Language</th>
      </tr>
      </thead>

      <tbody>
      <tr>
        <td>1</td>
        <td>omerjerk</td>
        <td>100.0</td>
        <td>C</td>
      </tr>
      <tr>
        <td>2</td>
        <td>championswimmer</td>
        <td>90.9</td>
        <td>C++</td>
      </tr>
      <tr>
        <td>2</td>
        <td>lolboyshit</td>
        <td>90.9</td>
        <td>Java</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>