<div class="c-review-pad">
	<div class="title">Review Questions {{what}}</div>
  <div class="options">
    {{#each questions as |question index|}}
      {{review-circle question=question index=index onCircleClick=(action onReview)}} 
    {{/each}}
  </div>
</div>

<style>
.c-review-pad {
	background: #f8f8f8;
	padding-top: 0.5rem;
	min-height: 400px;
	margin-bottom: 1rem;
}

.options {
  display: grid;
  grid-template-columns: repeat(3, 77px);
  align-items: center;
  justify-items: center;
}

.c-review-pad .title {
  text-align: center;
  font-size: 20px;
  margin: 25px 0;
}

.bg-green{
  background-color: green;
}
</style>
