<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <h2>Contests</h2>
      <small class="text-muted">Take these challenges and prove your mettle </small>
    </div>
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">

          {{#if (not-eq activeContests.length 0)}}
          <div class="header">
            <h2>ACTIVE CONTESTS</h2>
          </div>
          <div class="body">
            <div class="row clearfix">
              {{#each activeContests as |contest|}}
                {{#contest-view link='contests.contest' contest=contest}} {{/contest-view}}
              {{/each}}
            </div>
          </div>
          {{/if}}

          {{#if (not-eq upcomingContests.length 0)}}
           <div class="header">
            <h2>UPCOMING CONTESTS</h2>
           </div>
            <div class="body">
              <div class="row clearfix">
                {{#each upcomingContests as |contest|}}
                  {{#contest-view link='contests.contest' contest=contest}} {{/contest-view}}
                {{/each}}
              </div>
            </div>
            {{/if}}

            {{#if (not-eq previousContests.length 0)}}
           <div class="header">
            <h2>PREVIOUS CONTESTS</h2>
          </div>
          <div class="body">
            <div class="row clearfix">
              {{#each previousContests as |contest|}}
                {{#contest-view link='contests.contest' contest=contest archived=true}}{{/contest-view}}
              {{/each}}
            </div>
          </div>
          {{/if}}

        </div>
    </div>
  </div>
</div>
</section>