<div class="col-lg-3 col-sm-6 col-md-6 col-xs-12">
    <div class="card">
        <div class="panel-body">
            <h3 class="count">{{model.contests.meta.userCount}}</h3>
            <p class="text-muted">Total Registered Users</p>
        </div>
    </div>
</div>
<div class="col-lg-3 col-sm-6 col-md-6 col-xs-12">
    <div class="card">
        <div class="panel-body">
            <!--<h3 class="count">{{model.contests.length}}</h3>-->
            <h3 class="count">1</h3>
            <p class="text-muted">Active Contests</p>
        </div>
    </div>
</div>
<div class="col-lg-3 col-sm-6 col-md-6 col-xs-12">
    <div class="card">
        <div class="panel-body">
            <h3 class="count">15</h3>
            <p class="text-muted">Daily Code Bytes</p>
        </div>
    </div>
</div>
<div class="col-lg-3 col-sm-6 col-md-6 col-xs-12">
    <div class="card">
        <div class="panel-body">
            <h3 class="count">15000</h3>
            <p class="text-muted">Points Distributed</p>
        </div>
    </div>
</div>