<div class="col-lg-4 col-sm-6 col-md-6 col-xs-12">
    <div class="card hover-card">
        <div class="panel-body">
            <h3 class="count">{{model.contests.meta.userCount}}</h3>
            <p class="text-muted">Total Registered Users</p>
        </div>
    </div>
</div>
<div class="col-lg-4 col-sm-6 col-md-6 col-xs-12">
    <div class="card hover-card">
        {{#link-to 'contests.index' tagName="div" class="panel-body pointer"}}
          <h3 class="count">{{model.contests.length}}</h3>
          <p class="text-muted">Contests</p>
        {{/link-to}}
    </div>
</div>
<div class="col-lg-4 col-sm-6 col-md-6 col-xs-12">
    <div class="card hover-card">
        <div class="panel-body">
            <h3 class="count">{{model.contests.meta.subCount}}</h3>
            <p class="text-muted">Submissions</p>
        </div>
    </div>
</div>
