<section class="content">
    <div class="container-fluid">
        <div class="block-header">
        <h2>Help Section</h2>
        <small class="text-muted">How to Ask For Help </small>
        </div>
        <div class="container-help">
            <div class="help">
                <h4>If you're facing an issue with Hacker Blocks, please email the following details to <a href="mailto:support@codingblocks.com">support@codingblocks.com</a></h4>
                <ul>
                    <li>Your Coding Blocks Account ID (As visible on <a href="https://account.codingblocks.com/users/me">https://account.codingblocks.com/users/me</a>)</li>
                    <li>
                        A description of your issue
                        <ul>
                            <li>What should have happened?</li>
                            <li>What actually happened</li>
                        </ul>
                    </li>
                    <li>
                        Steps to reproduce the issue, along with any required details such as:
                        <ul>
                            <li>Problem Name</li>
                            <li>Contest ID</li>
                            <li>URL of the page you were on</li>
                            <li>Time of day when the problem occurred</li>
                            <li>Source code that you were trying to submit (don’t copy paste into the email, see the <b>Regarding Source Code</b> section below)</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div>
                <h4>Regarding Screenshots</h4>
                A screenshot of the issue helps immensely, but a blurry photo of your screen taken with your phone does more harm than good. <b>Please only send proper screenshots.</b><br>
                If you’re unsure on how to take a proper screenshot, follow <a target="_blank" href="https://www.howtogeek.com/226280/how-to-take-screenshots-in-windows-10/">this guide</a>.
            </div>
            <div>
                <h4>Regarding Source Code</h4>
                Please do not send source code copy pasted verbatim into an email. Use a pastebin, and send us the link. Recommended pastebins are:<br><br>
                - <a href="https://paste.ee/" target ="_blank">Pastee</a><br>
                - <a target="_blank" href="https://gist.github.com/">Github Gists</a><br><br>
                Bug reports that don't have the information required to reproduce them only waste the development team's time. A lone, blurry photograph of part of your screen isn't helpful.
            </div>
            <div class="help">
                <h4>Frequently Asked</h4>
                <ul>
                    <li>
                        <h5>I’m unable to solve an assignment.</h5>
                        We will only respond to issues regarding the Hacker Blocks platform. To get help with solving your assignment, please make a post on your course forums, or ask a TA.
                    </li>
                    <li>
                        <h5>I keep getting a runtime error in my code, even though it works on my computer.</h5>
                        Runtime errors stem from issues in your code, and not errors in the Hacker Blocks platform. Even if it works on your machine, it is likely that your input handling logic hasn’t taken into account certain cases that might occur in the actual input that we test against. Please do not submit these as bug reports.
                    </li>
                    <li>
                        <h5>When I try to verify my email, it says that it is already verified with another account.</h5>
                        This is because you have already verified that particular email address with another account. In order to proceed, either log in with the old account, or email us asking to unverify all accounts associated with that email. You will then be able to verify again with an account of your choosing.
                        Note: The old account will become unverified and you will lose all access to courses purchased from that one.
                    </li>
                    <li>
                        <h5>I’m clicking on the email verification option, but I never receive an email.</h5>
                            <ul>
                                Please make sure that:
                                <li>You are logged in to the correct email account</li>
                                <li>You are entering the correct email address (check you spelling, letter by letter)</li>
                                <li>You have checked your spam folder</li>
                            </ul>
                        If after doing all of the above, you still cannot verify your email, please send us an email.
                    </li>
                    <li>
                        <h5>I passed all test cases for a problem, but got a score of 0.</h5>
                        Problems in contests that have ended, as well as problems in the practice sections are not awarded any points on successful completion. If you’re in an ongoing contest and this happens, email us.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
