<div class="preloader small">
  <div class="spinner-layer pl-blush">
    <div class="circle-clipper left">
      <div class="circle"></div>
    </div>
    <div class="circle-clipper right">
      <div class="circle"></div>
    </div>
  </div>
</div>