<div id="main-content">
  <div class="innerbannerimg clearfix" style="height:350px; overflow:hidden">
    <img src="images/mainimage.jpg" style="width:100%;" alt=""/>
  </div>
  <div id="main-home-content">
    <div class="white-wide-container clearfix">
      <div class="container clearfix">
        <div class="row mt30">
          <div class="col-md-12">
            <p style="margin:0 0 30px 0;" class="text-center"><img src="images/commingSoon.jpg"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>