<nav class="navbar-fixed-top navbar clearHeader">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="bars">
        <a class="bar1"></a>
        <a class="bar1"></a>
        <a class="bar1"></a> 
      </a>
      {{#link-to 'index' class="navbar-brand"}}<img src="/images/logo.png" alt="">{{/link-to}}
    </div>
    <div class="header-right-section">
      {{#bread-crumb}}{{/bread-crumb}}
      <ul class="nav navbar-nav navbar-right logout">
        <!-- #END# Notifications -->
        {{#if (and model session.isAuthenticated)}}
          <li class="dropdown">
            <a href="javascript:void(0);" {{action "storeNotiCount"}} class="dropdown-toggle" data-toggle="dropdown" role="button">
                <i class="zmdi zmdi-notifications"></i>
                {{#if (not-eq notiCount 0) }}
                   <span class="label-count">{{notiCount}}</span>
                {{/if}}
            </a>
            {{#notification-button notifications=notifications class="dropdown-menu" }}{{/notification-button}}
          </li>
          <li><a class="btn btn-raised btn-danger waves-effect" {{action 'invalidateSession'}} href="#">
            <!--<i class="zmdi zmdi-sign-in"></i>-->
            <small>Logout</small>
          </a>
          </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>
<div class="header-block"></div>
<!-- #Top Bar -->