<!-- Top Bar -->
<nav class="navbar clearHeader">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="bars">
        <span class="bar1"></span>
        <span class="bar1"></span>
        <span class="bar1"></span>
      </a>
      {{#link-to 'index' class="navbar-brand"}}<img src="/images/logo.png" alt="">{{/link-to}}
    </div>
    {{#bread-crumb}}{{/bread-crumb}}
    <ul class="nav navbar-nav navbar-right logout">
      <!-- #END# Notifications -->
      {{#if session.isAuthenticated}}
        <li><a class="btn btn-raised btn-danger waves-effect" {{action 'invalidateSession'}} href="#">
          <!--<i class="zmdi zmdi-sign-in"></i>--><small>Logout</small></a>
        </li>
      {{/if}}
      <li><a href="javascript:void(0);" class="js-right-sidebar" data-close="true"><i class="material-icons">chat</i></a></li>
    </ul>
  </div>
</nav>
<!-- #Top Bar -->
