<footer class="page-footer primary-color">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Coding Blocks</h5>
        <p class="grey-text text-lighten-4">47, Nishant Kunj, Pitampura</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Courses</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Elixir</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Pandora</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Crux</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Game Development</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="valign-wrapper footer-copyright">
    <div class="container">
      {{yield}}
      © 2017 Coding Blocks
    </div>
  </div>
</footer>
