<footer id="colophon" class="site-footer">
  <div class="footer">
    <div class="container">
      <div class="row">
        <aside id="siteorigin-panels-builder-7" class="widget widget_siteorigin-panels-builder footer_widget">
          <div id="pl-w581af899b1ec0">
            <div class="panel-grid" id="pg-w581af899b1ec0-0">
              <div class="panel-grid-cell" id="pgc-w581af899b1ec0-0-0">
                <div class="so-panel widget widget_text panel-first-child panel-last-child" id="panel-w581af899b1ec0-0-0-0" data-index="0">
                  <h3 class="widget-title">Get in touch</h3>
                  <div class="textwidget">
                    <div class="thim-footer-info">
                      <p><i class="fa fa-phone"></i><a href="tel:00123456789">1800 274 4504</a></p>
                      <p><i class="fa fa-envelope"></i><a href="mailto:hello@coaching.com">info@codingblocks.com</a></p>
                      <p><i class="fa fa-map-marker"></i><a href="#">1-Floor, 47- Nishant Kunj, Near Kohat Metro, (Opp. Pillar 337), Delhi</a></p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-grid-cell" id="pgc-w581af899b1ec0-0-1">
                <div class="so-panel widget widget_nav_menu panel-first-child panel-last-child" id="panel-w581af899b1ec0-0-1-0" data-index="1">
                  <h3 class="widget-title">Useful Links</h3>
                  <div class=" megaWrapper">
                    <ul id="menu-useful-links" class="menu">
                      <li class="menu-item menu-item-type-post_type menu-item-object-page drop_to_right standard"><a href="http://www.codingblocks.com"><span data-hover="CodingBlocks">Coding Blocks</span></a></li>
                      <li class="menu-item menu-item-type-post_type menu-item-object-page drop_to_right standard">
                        {{#link-to 'contests'}}
                          <span data-hover="DailyDose">All Contests</span>
                        {{/link-to}}
                      </li>
                      <li class="menu-item menu-item-type-post_type menu-item-object-page drop_to_right standard">
                        {{#link-to 'practice'}}
                          <span data-hover="Contact">Daily Dose</span>
                        {{/link-to}}
                      </li>
                      <li class="menu-item menu-item-type-custom menu-item-object-custom drop_to_right standard"><a href="http://www.codingblocks.com/#home_team"><span data-hover="About">About</span></a></li>
                      <li class="menu-item menu-item-type-custom menu-item-object-custom drop_to_right standard"><a href="http://www.codingblocks.com/contactus/"><span data-hover="Contact">Contact</span></a></li>
                      <li class="menu-item menu-item-type-post_type menu-item-object-page drop_to_right standard"><a href="http://lab.codingblocks.com/"><span data-hover="LABS">Labs</span></a></li>
                      <li class="menu-item menu-item-type-post_type menu-item-object-page drop_to_right standard"><a href="#"><span data-hover="Terms">Terms</span></a></li>
                      <li class="menu-item menu-item-type-custom menu-item-object-custom drop_to_right standard"><a href="#"><span data-hover="Privacy policy">Privacy policy</span></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="panel-grid-cell" id="pgc-w581af899b1ec0-0-2">
                <div class="so-panel widget widget_social panel-first-child panel-last-child" id="panel-w581af899b1ec0-0-2-0" data-index="2">
                  <div class="thim-widget-social thim-widget-social-base">
                    <div class="thim-social">
                      <h3 class="widget-title">Social Links</h3>
                      <ul class="social_link">
                        <li><a class="facebook hasTooltip" href="http://fb.me/codingblocksindia" target="_self"><i class="fa fa-facebook"></i><span>Facebook</span></a></li>
                        <li><a class="twitter hasTooltip" href="http://twitter.com/codingblocksIN" target="_self"><i class="fa fa-twitter"></i><span>Twitter</span></a></li>
                        <li><a class="google-plus hasTooltip" href="https://www.youtube.com/channel/UCICWIYEx2mo4wYZzLwJ7wVw" target="_self"><i class="fa fa-youtube-play"></i><span>YouTube</span></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-grid-cell" id="pgc-w581af899b1ec0-0-3">
                <div class="so-panel widget widget_text panel-first-child panel-last-child" id="panel-w581af899b1ec0-0-3-0" data-index="3">
                  <h3 class="widget-title">Newsletters</h3>
                  <div class="textwidget">
                    <p>Subscribe to get updates right in your inbox. We promise to not send you spams.</p>
                    <!--<script type="text/javascript">(function() {
	if (!window.mc4wp) {
		window.mc4wp = {
			listeners: [],
			forms    : {
				on: function (event, callback) {
					window.mc4wp.listeners.push({
						event   : event,
						callback: callback
					});
				}
			}
		}
	}
})();</script>-->
                    <form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-3101 mc4wp-form-basic" method="post" data-id="3101" data-name="Default sign-up form">
                      <div class="mc4wp-form-fields">
                        <div id="optin">
                          <input type="email" size="30" value="Enter your email" name="EMAIL" class="required email" id="mce-EMAIL" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;">
                          <div id="mce-responses" class="clear">
                            <div class="response" id="mce-error-response" style="display:none"></div>
                            <div class="response" id="mce-success-response" style="display:none"></div>
                          </div>
                          <button type="submit"><i class="fa fa-envelope" aria-hidden="true"></i></button>
                        </div>
                        <div style="display: none;">
                          <input type="text" name="_mc4wp_honeypot" value="" tabindex="-1" autocomplete="off">
                        </div>
                      </div>
                      <div class="mc4wp-response"></div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </aside>
      </div>
    </div>
  </div>
  <div class="copyright-area">
    <div class="container">
      <div class="copyright-content">
        <div class="row">
          <div class="col-sm-6">
            <p class="text-copyright"> <a href="#">© 2017 HackerBlocks</a></p>
          </div>
          <div class="col-sm-6 text-right">
            <aside id="nav_menu-2" class="widget widget_nav_menu">
              <div class=" megaWrapper">
                <ul id="menu-copyright" class="menu">
                  <li class="menu-item menu-item-type-custom menu-item-object-custom drop_to_right standard"><a href="index.html"><span data-hover="About">About</span></a></li>
                  <li class="menu-item menu-item-type-post_type menu-item-object-page drop_to_right standard"><a href="dailydose.html"><span data-hover="Daily Dose">Daily Dose</span></a></li>
                  <li class="menu-item menu-item-type-custom menu-item-object-custom drop_to_right standard"><a href="learning.html"><span data-hover="Learn">Learn</span></a></li>
                  <li class="menu-item menu-item-type-post_type menu-item-object-page drop_to_right standard"><a href="http://www.codingblocks.com/"><span data-hover="Coding Blocks">Coding Blocks</span></a></li>
                  <li class="menu-item menu-item-type-post_type menu-item-object-page drop_to_right standard"><a href="http://www.codingblocks.com/contactus/"><span data-hover="Contact">Contact</span></a></li>
                </ul>
              </div>
            </aside>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<a href="images/saved_resource" id="back-to-top" class=""> <i class="fa fa-chevron-up"></i> </a>
