<div class="card problem-card">
  <div class="card-content">
    <div class="row">
      <span class="card-title">{{problem.name}}</span>
      {{#if isWeekly}}
        <span class="new badge" data-badge-caption="">{{dayName}}</span>
      {{/if}}
    </div>
    <div class="row">
      <div class="col s4">
        Submissions: {{problem.submitCount}}
      </div>
      <div class="col s4">
        Difficulty: {{get-difficulty problem.difficulty}}
      </div>
    </div>
  </div>
</div>
