<div id="main-content">
  <div class="innerbannerimg clearfix" style="height:350px; overflow:hidden"><img src="/images/mainimage.jpg" style="width:100%;" alt=""/></div>
  <div class="container site-content">
    <div class="row">
      <main id="main" class="site-main col-sm-12 full-width">
        <div class="thim-list-event" style="display: block;">
          <p><h3>This Week's Daily Dose</h3></p>
          {{log model}}
          {{#each model as |problem|}}
            {{#problem-view link='practice.weekly-problem.main' problem=problem}}{{/problem-view}}
          {{/each}}
        </div>
      </main>
    </div>
  </div>
</div>
