<h5>Problem of the day</h5>
{{#each model as |problem|}}
  {{#link-to "practice.weekly-problem.main" "1" tagName="div"}}
    {{#problem-card problem=problem isWeekly=true}}{{/problem-card}}
  {{/link-to}}
{{/each}}
