{{#problem-view}}
  <div id="test1" class="col s12">
    <h2>{{model.name}}</h2>
    <p>{{markdown-to-html model.content}}</p>
    <div class="row">
        <div class="row">
          <div class="left">Editor</div>
          <div class="right">
            <span >Language:</span>
            <a id="editor-lang" class="dropdown-button btn" href="#" data-activates='lang-dropdown'>c</a>
            <ul id='lang-dropdown' class='dropdown-content'>
              {{#each-in lang as |langId langName|}}
                <li><a {{action "langChange" langId}} href="#!">{{langName}}</a></li>
              {{/each-in}}
            </ul>
          </div>
        </div>
        <div class="row">
          {{#ace-editor}}
            function () {
            console.log("derp");
            }
          {{/ace-editor}}
        </div>
    </div>


  </div>
  <div id="test2" class="col s12">Test 2</div>
  <div id="test3" class="col s12">Test 3</div>
{{/problem-view}}