<div id="main-content">
  <div class="innerbannerimg clearfix" style="height:350px; overflow:hidden"><img src="/images/mainimage.jpg" style="width:100%;" alt=""/></div>
  {{#problem-parent parentRoute='contests.contest.problem'}}
    {{outlet}}
  {{/problem-parent}}
</div>