{{#if model}}
	{{#if model.video}}
		<iframe width="600" height="315" src="{{model.video}}"></iframe>
	{{/if}}
	{{markdown-to-html model.content}}
{{else}}
	<h4>No Editorial Exists for the given problem.</h4>
{{/if}}
